# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Spring Security\auth module\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
